.MasterForm {
  font-family: sans-serif;
  text-align: center;
}
div.Forumdiv{
  float: left;
  width: 800px;
  height: fit-content;
  background-color: #3570a3;
  border-style: solid;
  position: relative;
  left: 30px;
  top: 30px;
  box-sizing: content-box;
  border-radius: 6px;
}
input[type=text] {
  width: 40%;
  margin: 10px 10px;
}

input[type=submit] {    
  margin: 10px 10px;
  width: 65%;}
label{
    margin: 10px 10px;
}
h1{
margin: 10px 100px ;
}

.form-group{
  width: 50%;
  display:inline-block;


}

div.planebg{
  background-image: url("travel-background-with-airplane-and-sky-with-cloud-vector-31819486.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height:100%;
}
#logo{
  background-image: url("flyingshawarma.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* box-sizing: content-box; */
  background-size: 50px 50px;
  margin: 3px 3px 1px 3px;
  width: 50px;
  height:50px;
  border:0  ;
}