@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+39");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merienda");

body,
html {
  background: #bbbbbb;
  height: 100%;
  display: grid;
  text-transform: "capitalize";

}

.ticket {
  height: 20vw;
  width: 60vw;
  margin: auto auto 50px auto;
  border-radius: 2vw;
  position: relative;
  background: white;
  text-transform: "capitalize";
}
h3{
  text-align: end;
  text-transform: "capitalize";
}

#banner {
  height: 20vw;
  border-radius: 2vw;
  border-top: 4vw solid #3399ff;
  font-family: "Merienda";
  color: white;
  text-transform: "capitalize";

}

#mainbanner {
  position: absolute;
  top: -0.4vw;
  left: 4.5vw;
  font-size: 3vw;
  text-transform: "capitalize";

}

#mainbanner img {
  vertical-align: middle;
  height: 4vw;
  width: 4vw;
  width: 10%;
  text-transform: "capitalize";
}

#tearoffbanner {
  position: absolute;
  top: 1vw;
  left: 46.7vw;
  font-size: 100%;
  text-transform: "capitalize";
}

#tearoffbanner img {
  vertical-align: middle;
  height: 10%;
  width: 12%;
  text-transform: "capitalize";
}

#barcode {
  overflow: hidden;
  height: 3vw;
  width: 13vw;
  position: absolute;
  top: 10vw;
  left: -5  vw;
  font-size: 4em;
  font-family: "Libre Barcode 39";
  transform: rotate(-90deg) scale(1, 2.5);
  text-transform: "capitalize";
}

#holes {
  height: 100%;
  position: absolute;
  top: -1.8vw;
  left: 44vw;
  text-transform: "capitalize";

}

#holes div {
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 100%;
  background: #bbbbbb;
  margin-top: 0.5vw;
}

#data {
  text-transform: uppercase;
  font-size: 0.8vw;
  font-family: "Open Sans";
  text-transform: "capitalize";

}

#maindata {
  margin: 0.5vw;
  position: absolute;
  width: 35vw;
  height: 16vw;
  top: 4vw;
  left: 9vw;
  text-transform: "capitalize";

}

#data .box {
  width: 17vw;
  display: inline-block;
  text-transform: "capitalize";

}

#data .box .header {
  display: block;  
  text-transform: "capitalize";
}

#data .box .body {
  font-size: 1vw;
  text-transform: "capitalize"; }

#data .box.boarding {
  width: 17vw;
  bottom: 3vw;
  left: 9.3vw;
  position: absolute;
  text-align: center;
  border: 2px solid black;
  margin-top: 0.3vw;
  margin-left: 6vw;
  font-size: 1vw;
  text-transform: "capitalize";
}
#data .box.boarding .header {
  font-size: 1.8vw;
  text-transform: "capitalize";

}

#data .box.boarding .body {
  font-size: 1.5vw;  
  text-transform: "capitalize";

}

#tearoffdata {
  position: absolute;
  width: 13vw;
  height: 16vw;
  top: 0vw;
  left: 37vw;
  font-size: 0.8vw;
  text-transform: "capitalize";

}

#tearoffdata .box {
  width: 13vw;
  display: block;
  text-transform: "capitalize";

}

#tearoffdata .box .header {
  text-decoration: none;
  text-transform: "capitalize";

}
#tearoffdata .box .body {
  margin-left: 1vw;
  font-size: 1vw;
  text-transform: "capitalize";

}

#tearoffdata .box.seat {
  margin-top: 0vw;
  text-transform: "capitalize";

}
#tearoffdata .box.seat .body {
  font-size: 2vw;
  font-size: 1vw;
  text-transform: "capitalize";
} 