
div.solid1 {
    border-style: solid;
    background-color: rgb(160, 156, 156);
}
div.solid2 {
    border-style: solid;
    width: 300px;
    height: 900px;
    background-color: rgb(29, 118, 124);
    position: absolute;
    left: 900px;
    top: 285px;
}
/* button.button{
    background-image: url("seat available.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 45px;
    height: 55px;
    object-fit: contain;
} */
div.grid-container > button{
    background-image: url("seat available.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 45px;
    height: 55px;
    object-fit: contain;
    border-radius: 9px;
    margin-top: -10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: skew(-13deg);


    
}
div.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  row-gap: 0px;
  grid-gap: 0px;
  background-color: #f5f5f5;
   padding: 0;
  width: fit-content;
  height: fit-content; 
  grid-auto-flow:dense;

}

div.grid-container > div {
  background-color: rgba(212, 26, 26, 0.8);
  text-align: left;
  padding: 0px ;
  font-size: 20px;
  /* object-fit: contain; */

}


#bus{
    background-color: #ffe031;

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }



